body{
    background-color: rgb(7, 8, 91);
    height: 100%;
   
}
#Header{
    text-align: center;
    color: aliceblue;
}

h1{
	color:white;
}
.squares{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 13vw;
  margin: 50px 0;
  text-align: center;  
    
}

div{
    text-align: center;
}

#green, #red, #yellow,#blue {
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    border-color: black;
    margin: 30px;
    border-width: 5px;
    border-style: solid;
    cursor: pointer;
    
  }
  #green{
    background-color: green;
  }
  #red{
    background-color: red;
  }
  #yellow{
    background-color: yellow;
}
    #blue{
    background-color: blue;
}
